body{
    background-color:wheat;
    color: red;
}

.buttons{
    justify-content: space-around;
    padding: 30px;
}

.switch{
    border: 2px solid white;
    border-radius: 9px;
    background-color:greenyellow ;

    padding: 20px;
    margin: 20px;
    font-size: 20px;

}

.slider{
    width: 50%;
}